<%= render partial: 'dashboard/card_header', locals: { title: "Blood Glucose", link_path: blood_pressure_view_path, id: @model.blood_glucose&.id }%>
<% if @model.blood_glucose != nil %>
    <div class="card-body">
        <%= @model.blood_glucose.value %>
    </div>
    <div class="card-footer">
        Today at 7:32am
    </div>
<% else %>
    <%= render partial: 'dashboard/no_data' %>
<% end %>