<div class="card-body<%= card_classes(new_link, is_placeholder) %>"<%= card_data_attributes(new_link) %>>
    <span class="text-danger">No data</span>
</div>
<div class="card-footer">
    <span class="date-time-stamp">---</span>
</div>