<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Dashboard <span class="subtitle">(<a href="<%= dashboard_customize_path %>"><i class="fa fa-cog"></i>&nbsp;Customize</a>)</span></h1>
            <% @module_rows.each do |module_row| %>
                <div class="card-deck">
                    <% module_row.each do |m| %>
                        <div class="card dashboard-card text-center">
                            <% if m.name == "Blood Pressure" %>
                                <%= render partial: 'dashboard/blood_pressure_card', locals: { model: @model } %>
                            <% else %>
                                <%= render partial: 'dashboard/placeholder_card', locals: { title: m.name } %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>