<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Blood Pressure Trends (10 Most Recent)</h1>
            <%= render partial: 'analytics/no_data' %>
            <div class="analytics-data">
                <div class="row">
                    <div class="col-sm-2">
                        <select id="chart-type-list" class="form-control">
                            <option value="bar">Bar</option>
                            <option value="line">Line</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <button id="btn-refresh-chart" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="loading-indicator" class="text-info">Loading...</div>
                        <canvas id="pressure-trends" width="600" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', () => {
        Analytics.BloodPressure.init();
    });
</script>