<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <%= link_to "Blood Pressure", analytics_blood_pressure_path %>
            <br/>
            <%= link_to "Weight", analytics_weight_path %>
        </div>
    </div>
</div>