<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Weight Trends (10 Most Recent)</h1>
            <%= render partial: 'analytics/no_data' %>
            <div class="analytics-data">
                <canvas id="weight-trends" width="600" height="200"></canvas>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <p><strong>Min:</strong> <span class="min-value"></span></p>
                        <p><strong>Max:</strong> <span class="max-value"></span></p>
                        <p><strong>Average:</strong> <span class="average-value"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', () => {
        Analytics.Weight.init();
    });
</script>