@import "theme";

.card-deck {
    &:not(:last-child) {
        padding-bottom: 36px;
    }
    
    .card.dashboard-card {
        .card-header {
            background: $primary-blue-lightest;
            color: $white;
            text-shadow: 1px 1px $primary-blue-dark;
            
            &.placeholder {
                background: $light-gray;
                color: $medium-gray;
                text-shadow: 0 0;
            }

            a {
                color: inherit;
            }
        }
        
        .card-body {
            font-size: 48pt;
            
            &.placeholder {
                span {
                    color: $medium-gray !important;
                }
            }

            p {
                font-size: 13pt;
                color: #555;

                &.unit-label {
                    margin-top: -10px;
                    font-size: 12pt;
                }
            }
        }

        .card-footer {
            font-size: 10pt;
            color: #666;
        }
    }
}

.page-title {
    padding-bottom: 20px;
    
    .subtitle {
        font-size: 13pt;

        a {
            text-decoration: none;
        }
    }
}

#customize-dashboard-form {
    label {
        font-weight: bold;
    }

    #response-message {
        display: none;
    }

    .buttons-row {
        padding-top: 20px;
    }

    .action-links {
        text-align: center;
        padding-top: 24pt;
        
        .action-link {
            font-size: 20pt;
            display: block;
            border: 1px solid #ddd;
            border-radius: 3px;
            margin-bottom: 6px;
        }
    }
}