@import "theme";

$navbar-link-hover-background: $primary-blue-light;

nav.navbar.bg-light {
    margin: 0 0 16px 0;
    padding: 0;
    background: $primary-blue !important;
    font-family: $basic-font;

    .dropdown-menu {
        background: $primary-blue;
    }

    a.nav-link {
        color: $white;
        text-decoration: none;
        padding: 16px 35px;
        font-size: 11pt;
        
        &:hover {
            color: $white;
            background: $navbar-link-hover-background;
        }
    }

    .nav-item.dropdown {
        &.show {
            background: $navbar-link-hover-background;

            .nav-link.dropdown-toggle {
                color: $white;
            }
        }
    }

    .dropdown-menu {
        a.dropdown-item {
            color: $white;
            font-size: 11pt;

            &:hover {
                background: $navbar-link-hover-background;
            }
        }
    }
}