// Colors
$white: #fff;
$light-gray: #eee;
$medium-gray: #999;

$primary-blue: #004293;
$primary-blue-light: #0050B2;
$primary-blue-lightest: #4390EF;
$primary-blue-dark: #003676;

$lighter-green: #36CE58;
$light-green: #23C748;
$dark-green: #199435;

$slate: #3d444c;
$slate-light: #8899aa;


// Fonts
$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$basic-font: 'Open Sans', sans-serif;
$header-font: $basic-font;