<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <legend>Edit Blood Pressure Measurement</legend>
                <%= render partial: 'blood_pressure/blood_pressure_form', locals: { measurement: @measurement, form_action: 'edit' } %>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', () => {
        BloodPressure.EditEntry.init();
    });
</script>