<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <legend>New Blood Pressure Measurement</legend>
                <% if @measurement.errors && @measurement.errors.any? %>
                    <div class="row">
                        <div class="col-sm-12">
                            <%= render partial: 'layouts/form_errors', locals: { errors: @measurement.errors, entity_name: 'measurement' } %>
                        </div>
                    </div>
                <% end %>
                <%= render partial: 'blood_pressure/blood_pressure_form', locals: { measurement: @measurement, form_action: 'new' } %>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', () => {
        BloodPressure.NewEntry.init();
    });
</script>