<li class="nav-item">
    <a class="nav-link" href="<%= home_index_path %>">Home</a>
</li>
<li>
    <a class="nav-link" href="<%= new_user_session_path %>">Log In</a>
</li>
<li>
    <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
</li>