<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
                <%= render 'layouts/navigation_authenticated' %>
            <% else %>
                <%= render 'layouts/navigation_anonymous' %>
            <% end %>
        </ul>
    </div>
</nav>